<!DOCTYPE html>
<html>

<head>
    <title>Halaman Bantuan</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="faq">
            <h2>Frequently Asked Questions (FAQ)</h2>

            <h3>a. Halaman ini digunakan untuk apa?</h3>
            <p><strong>Jawaban:</strong> Dengan halaman ini, pengguna akan memiliki panduan yang jelas tentang cara
             menggunakan aplikasi kita. Kita bisa menyajikan informasi dengan cara yang mudah dipahami, 
             sehingga pengguna bisa merasakan manfaat penuh dari aplikasi kita.</p>

            <h3>b. Apa itu API?</h3>
            <p><strong>Jawaban:</strong> API (Application Programming Interface)  bahasa yang memungkinkan perangkat lunak kita berbicara dengan perangkat lunak lainnya.
             Jadi, dalam aplikasi kita, API berperan sebagai sarana untuk mengambil informasi dari luar, seperti sumber data eksternal,
            dan kemudian menyajikannya dengan cara yang nyaman bagi pengguna.
             Jadi, bisa dibilang, API adalah jembatan yang memungkinkan aplikasi kita berkolaborasi dengan sumber daya lain.</p>

            <h3>c. API apa yang digunakan dalam aplikasi ini?</h3>
            <p><strong>Jawaban:</strong> Pada Aplikasi ini saya menggunakan API data cuaca dari layanan pihak ketiga 
            yang tujuannya memberikan informasi cuaca yang akurat kepada pengguna.</p>

            <h3>d. Salah satu pola arsitektur API adalah (pilih salah satu SOA, RESTful, GraphQL, dan gRPC)</h3>
            <p><strong>Jawaban:</strong> Dalam konteks ini, mungkin RESTful adalah pilihan yang paling umum. 
            Pola arsitektur ini sangat populer karena sederhana, skalabel, dan mudah diimplementasikan. 
            Tapi, tentu saja, tergantung pada kebutuhan khusus aplikasi kita.</p>

            <h3>e. Gambar Pendukung</h3>
            <img src="/img/gambarpendukung.png" alt="Gambar Pendukung">
        </div>
    </div>
    {{>footer}}
</body>

</html>