<!DOCTYPE html>

<html>

<head>
    <title>Halaman Bantuan</title>
    <link rel="icon" href="/img/imgg.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{teksBantuan}}</p>
    </div>
    {{>footer}}
</body>

</html>