<!DOCTYPE html>

<html>

<head>
    <title>Halaman Tentang</title>
    <link rel="icon" href="/img/imgg.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/hi.png">
    </div>
    {{>footer}}
</body>

</html>